<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-info form-control">
            <i class="fas fa-laugh-squint text-warning"></i>
            Create
            </button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">
            <i class="fas fa-angry text-danger"></i>

            BackToList
        </a>
    </div>
</div>